.TimeIs {
  text-align: left;
  color: white;
}

body{
  background-image: url("https://static.vecteezy.com/system/resources/previews/007/710/509/non_2x/starry-night-sky-with-stars-and-moon-in-cloudscape-background-free-photo.jpg");
}
